<%-include('./partials/header')%>
<br>
<form action="/sign_in" method="POST" class="container card">
    <div>

      <div>
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="e.g. Veronica Gudova">
      </div>
       <br> 
     <div>
       <button type="submit" class="btn btn-outline-secondary">Sign In</button>
     </div>
      <br>
</div>
</form>

<%-include('./partials/footer')%>
